# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Cache
.cache
.parcel-cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.eslintcache
.stylelintcache
.vscode-test

# Dependency directories
node_modules/
jspm_packages/
web_modules/
bower_components/
build/Release
dist
dist-ssr
.next
.nuxt
.vuepress/dist
.temp
.vitepress/dist
.vitepress/cache
.serverless/
.fusebox/
.docusaurus
.dynamodb/

# Yarn & pnpm
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
*.local

# Output of 'npm pack'
*.tgz

# Optional REPL history
.node_repl_history

# Editor & system files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.tern-port
